# ingore everything in the build directory.
build/**
!build/*.txt
c89comm
c89Co*

# ignore test directory.
test/

# ignore folder view configuration files.
.DS_Store
Desktop.ini

# ignore compiled python files.
*.pyc
